@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
  height: 100vh;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}
.table-hover tbody tr:hover td {
  background-color: rgba(169, 39, 186, 0.72);
  color: white;
  cursor: pointer;
}
